// Variables
$color-white: #fff;
$linear-gradient: linear-gradient(
  to right bottom,
  #cd43ff,
  #fd65a6,
  #fc9651,
  #ffbd72
);

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

button {
  background-color: initial;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Satoshi", sans-serif;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  background-color: #050520;
}

.container {
  display: grid;
  grid-template-columns:
    [full-start]
    minmax(6rem, 1fr)
    [center-start]
    repeat(8, [col-start] minmax(min-content, 17rem) [col-end])
    [center-end]
    minmax(6rem, 1fr)
    [full-end];
}
