.button {
  padding: 1.4rem 2rem;
  border-radius: 50rem;
  font-size: 1.8rem;
  font-weight: 600;

  &--primary {
    background-image: linear-gradient(
      to right bottom,
      #cd43ff,
      #fd65a6,
      #fc9651,
      #ffbd72
    );
  }

  &--secondary {
    border: 1px solid $color-white;
  }

  &--small {
    font-size: 1.6rem;
  }
}
