.button {
  padding: 1.4rem 2rem;
  border-radius: 50rem;
  font-size: 1.8rem;
  font-weight: 600;

  &--primary {
    background-image: $linear-gradient;
  }

  &--secondary {
    border: 1px solid $color-white;
  }

  &--small {
    font-size: 1.6rem;
  }
}

.logo {
  font-size: 3.2rem;

  &__link {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }

  &__img {
    height: 3.7rem;
    width: 3.7rem;
  }

  &__text {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.title {
  padding: 1.1rem 1.6rem;
  background: linear-gradient(#050520, #050520) padding-box,
    $linear-gradient border-box;
  border-radius: 50em;
  border: 1px solid transparent;
}

.heading {
  line-height: 1.2;

  &--primary {
    font-size: 8.2rem;
  }

  &--secondary {
    font-size: 5.6rem;
  }
}
