.featured-logos {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  padding: 2.5rem 0;
  border-top: 1px solid rgba($color-white, 0.32);
  border-bottom: 1px solid rgba($color-white, 0.32);

  &__list {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: $breakpoint-md) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  }

  &__item {
    text-align: center;
    @media (max-width: $breakpoint-md) {
      width: calc(100% / 3 - 2rem);
    }
  }

  &__img {
    height: 3rem;
    width: 100%;
    object-fit: contain;
  }
}
