.features {
  grid-column: center-start / center-end;
  grid-row: 5 / 6;
  padding: 8rem 7rem;
  background-color: rgba($color-white, 0.08);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;

  &__title {
    align-self: center;
    margin-bottom: 2.4rem;
  }

  &__heading {
    text-align: center;
    margin-bottom: 6.4rem;
  }

  &__accordion {
    margin: 0 4rem;
  }

  &__text {
    text-align: center;
    color: rgba($color-white, 0.6);
    margin-bottom: 1.6rem;
  }

  &__button {
    align-self: center;
    width: 40%;
  }
}
