.header {
  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;

  @media (max-width: $breakpoint-lg) {
    padding: 2rem 1rem;
  }

  @media (max-width: $breakpoint-md) {
    justify-content: initial;
    padding: 2rem 5rem;
  }

  @media (max-width: $breakpoint-sm) {
    padding: 2rem 3rem;
  }

  &__logo {
    @media (max-width: $breakpoint-md) {
      margin-right: auto;
    }
  }

  &__buttons-container {
    display: flex;
    column-gap: 1.2rem;

    @media (max-width: $breakpoint-sm) {
      display: none;
    }
  }
}

.nav {
  font-size: 1.6rem;
  text-transform: uppercase;

  @media (max-width: $breakpoint-md) {
    order: 1;
  }

  &__menu-btn {
    display: none;
    margin-left: 1rem;

    @media (max-width: $breakpoint-md) {
      display: flex;
    }

    & > svg {
      width: 3.2rem;
      height: 3.2rem;
      fill: $color-white;
    }
  }

  &__list {
    display: flex;
    column-gap: 2.8rem;
    transition: all 0.2s;

    @media (max-width: $breakpoint-lg) {
      column-gap: 1.8rem;
    }

    @media (max-width: $breakpoint-md) {
      // display: none;
      position: absolute;
      left: 0;
      top: 100%;
      display: flex;
      flex-direction: column;
      column-gap: initial;
      padding: 2rem 0;
      width: 100%;
      display: none;
      /* Check if backdrop-filter is supported */
      @supports (-webkit-backdrop-filter: blur(1rem)) or
        (backdrop-filter: blur(1rem)) {
        background-color: rgba(#050520, 0.08);
        backdrop-filter: blur(1rem);
      }
      /* Fallback for browsers that do not support backdrop-filter */
      background-color: rgba(#050520, 0.9);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 2.8rem;

    @media (max-width: $breakpoint-lg) {
      column-gap: 1.8rem;
    }

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      background-image: linear-gradient(
        to right bottom,
        #cd43ff,
        #fd65a6,
        #fc9651,
        #ffbd72
      );
      border-radius: 50%;

      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }

    &:last-child {
      display: none;

      @media (max-width: $breakpoint-sm) {
        display: initial;
        padding: 2rem 2.5rem;
      }
    }
  }

  &__link {
    @media (max-width: $breakpoint-md) {
      padding: 2rem 5rem;
      width: 100%;
    }

    @media (max-width: $breakpoint-sm) {
      padding: 2rem 3rem;
    }
  }

  &__button {
    display: none;
    @media (max-width: $breakpoint-sm) {
      display: initial;
      width: 100%;
    }
  }
}

.header-bg {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(#f7fdff, 0.4);
  z-index: -1;
}
